---
layout: default

column1_newsitem1_headline: Welcome
column1_newsitem1_image: /img/welcome.jpg
column1_newsitem1_link: /about/#welcome
column1_newsitem1_text: "US-EA CENTRA stands for US-East Asia Collaborations to Enable Transnational 
Cyberinfrastructure Applications and refers to a partnership and evolving 
framework for collaborations amongst research centers, institutes and 
laboratories in the USA and East-Asia countries."

column1_newsitem2_headline: 
column1_newsitem2_image:
column1_newsitem2_link: 
column1_newsitem2_text:

column1_newsitem3_headline: 
column1_newsitem3_image:
column1_newsitem3_link:
column1_newsitem3_text:

column1_newsitem4_headline: 
column1_newsitem4_image:
column1_newsitem4_link: 
column1_newsitem4_text:

column2_newsitem1_headline: Collaborators
column2_newsitem1_image: /img/collaborators.jpg
column2_newsitem1_link: /about/#collaborators
column2_newsitem1_text: "While administrated and operated from the University of Florida's
Advanced Computing and Informations Systems Laboratory, key institutional partners
in East Asia include the National Center for High-Performance Computing of the 
National Applied Research Laboratories of Taiwan and the National Institute of
Information and Communication Technologies of Japan. This project is to contribute
towards a framework to coordinate CI-based and CI-enabled research with East
Asian partners in order to achieve scientific progress and engage junior researchers
in international activities."

column2_newsitem2_headline: Meetings
column2_newsitem2_image: /img/meetings.png
column2_newsitem2_link: 
column2_newsitem2_text: "Meetings and seminars play a critical role in communications and
program planning for the CENTRA collaborators."

column2_newsitem3_headline: 
column2_newsitem3_image:
column2_newsitem3_link: 
column2_newsitem3_text:

column2_newsitem4_headline: 
column2_newsitem4_image:
column2_newsitem4_link: 
column2_newsitem4_text:

---

    <div class="jumbotron">
      <div class="container">
        <img src="/img/header.jpg">
        <div class="subtron">
            ADVANCING THE SCIENTIFIC UNDERSTANDING OF DISTRIBUTED SOFTWARE-DEFINED CYBERINFRASTRUCTURES
            <ul class="banner">{% include icons.html %}</ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        
        <div class="col-md-6">
          
          {% if page.column1_newsitem1_headline or  page.column1_newsitem1_text or page.column1_newsitem1_image %}
          <div class="story-highlight">
            {% if page.column1_newsitem1_image %}
              <img src="{{ page.column1_newsitem1_image }}" class="img-responsive" alt="Responsive image">
            {% endif %}
            {% if page.column1_newsitem1_headline %}
              <h2>{{ page.column1_newsitem1_headline }}</h2>
            {% endif %}
            {% if page.column1_newsitem1_text %}
              <p>{{ page.column1_newsitem1_text }}</p>
            {% endif %}
            {% if page.column1_newsitem1_link %}
              <p><a class="btn btn-default" href="{{ page.column1_newsitem1_link }}" role="button">{{ site.theme.str_continue_reading }}</a></p>
            {% endif %}
          </div>
          {% endif %}

          {% if page.column1_newsitem2_headline or  page.column1_newsitem2_text or page.column1_newsitem2_image %}
          <div class="story-highlight">
            {% if page.column1_newsitem2_image %}
              <img src="{{ page.column1_newsitem2_image }}" class="img-responsive" alt="Responsive image">
            {% endif %}
            {% if page.column1_newsitem2_headline %}
              <h2>{{ page.column1_newsitem2_headline }}</h2>
            {% endif %}
            {% if page.column1_newsitem2_text %}
              <p>{{ page.column1_newsitem2_text }}</p>
            {% endif %}
            {% if page.column1_newsitem2_link %}
              <p><a class="btn btn-default" href="{{ page.column1_newsitem2_link }}" role="button">{{ site.theme.str_continue_reading }}</a></p>
            {% endif %}
          </div>
          {% endif %}


          {% if page.column1_newsitem3_headline or  page.column1_newsitem3_text or page.column1_newsitem3_image %}
          <div class="story-highlight">
            {% if page.column1_newsitem3_image %}
              <img src="{{ page.column1_newsitem3_image }}" class="img-responsive" alt="Responsive image">
            {% endif %}
            {% if page.column1_newsitem3_headline %}
              <h2>{{ page.column1_newsitem3_headline }}</h2>
            {% endif %}
            {% if page.column1_newsitem3_text %}
              <p>{{ page.column1_newsitem3_text }}</p>
            {% endif %}
            {% if page.column3_newsitem1_link %}
              <p><a class="btn btn-default" href="{{ page.column1_newsitem3_link }}" role="button">{{ site.theme.str_continue_reading }}</a></p>
            {% endif %}
          </div>
          {% endif %}

          {% if page.column1_newsitem4_headline or  page.column1_newsitem4_text or page.column1_newsitem4_image %}
          <div class="story-highlight">
            {% if page.column1_newsitem4_image %}
              <img src="{{ page.column1_newsitem4_image }}" class="img-responsive" alt="Responsive image">
            {% endif %}
            {% if page.column1_newsitem4_headline %}
              <h2>{{ page.column1_newsitem4_headline }}</h2>
            {% endif %}
            {% if page.column1_newsitem4_text %}
              <p>{{ page.column1_newsitem4_text }}</p>
            {% endif %}
            {% if page.column1_newsitem4_link %}
              <p><a class="btn btn-default" href="{{ page.column1_newsitem4_link }}" role="button">{{ site.theme.str_continue_reading }}</a></p>
            {% endif %}
          </div>
          {% endif %}
        </div>

        <div class="col-md-6">
          
          {% if page.column2_newsitem1_headline or  page.column2_newsitem1_text or page.column2_newsitem1_image %}
          <div class="story-highlight">
            {% if page.column2_newsitem1_image %}
              <img src="{{ page.column2_newsitem1_image }}" class="img-responsive" alt="Responsive image">
            {% endif %}
            {% if page.column2_newsitem1_headline %}
              <h2>{{ page.column2_newsitem1_headline }}</h2>
            {% endif %}
            {% if page.column2_newsitem1_text %}
              <p>{{ page.column2_newsitem1_text }}</p>
            {% endif %}
            {% if page.column2_newsitem1_link %}
              <p><a class="btn btn-default" href="{{ page.column2_newsitem1_link }}" role="button">{{ site.theme.str_continue_reading }}</a></p>
            {% endif %}
          </div>
          {% endif %}

          {% if page.column2_newsitem2_headline or  page.column2_newsitem2_text or page.column2_newsitem2_image %}
          <div class="story-highlight">
            {% if page.column2_newsitem2_image %}
              <img src="{{ page.column2_newsitem2_image }}" class="img-responsive" alt="Responsive image">
            {% endif %}
            {% if page.column2_newsitem2_headline %}
              <h2>{{ page.column2_newsitem2_headline }}</h2>
            {% endif %}
            {% if page.column2_newsitem2_text %}
              <p>{{ page.column2_newsitem2_text }}</p>
            {% endif %}
            {% if page.column2_newsitem2_link %}
              <p><a class="btn btn-default" href="{{ page.column2_newsitem2_link }}" role="button">{{ site.theme.str_continue_reading }}</a></p>
            {% endif %}
          </div>
          {% endif %}


          {% if page.column2_newsitem3_headline or  page.column2_newsitem3_text or page.column2_newsitem3_image %}
          <div class="story-highlight">
            {% if page.column2_newsitem3_image %}
              <img src="{{ page.column2_newsitem3_image }}" class="img-responsive" alt="Responsive image">
            {% endif %}
            {% if page.column2_newsitem3_headline %}
              <h2>{{ page.column2_newsitem3_headline }}</h2>
            {% endif %}
            {% if page.column2_newsitem3_text %}
              <p>{{ page.column2_newsitem3_text }}</p>
            {% endif %}
            {% if page.column2_newsitem3_link %}
              <p><a class="btn btn-default" href="{{ page.column2_newsitem3_link }}" role="button">{{ site.theme.str_continue_reading }}</a></p>
            {% endif %}
          </div>
          {% endif %}

          {% if page.column2_newsitem4_headline or  page.column2_newsitem4_text or page.column2_newsitem4_image %}
          <div class="story-highlight">
            {% if page.column2_newsitem4_image %}
              <img src="{{ page.column2_newsitem4_image }}" class="img-responsive" alt="Responsive image">
            {% endif %}
            {% if page.column2_newsitem4_headline %}
              <h2>{{ page.column2_newsitem4_headline }}</h2>
            {% endif %}
            {% if page.column2_newsitem4_text %}
              <p>{{ page.column2_newsitem4_text }}</p>
            {% endif %}
            {% if page.column2_newsitem4_link %}
              <p><a class="btn btn-default" href="{{ page.column2_newsitem4_link }}" role="button">{{ site.theme.str_continue_reading }}</a></p>
            {% endif %}
          </div>
          {% endif %}
        </div>
          
      </div>

    </div>
  </div>