<div class="container">

<header class="site-header">

	<nav>
	    <a href="{{ site.baseurl }}/">{{ site.site_navigation_logo }}</a>
		<span style="float:right; margin-top:18px;">
			{% if page.url == '/index.html' %}
				<a href="{{ site.baseurl }}/" class="highlight-nav-link">Home</a>
			{% else %}
				<a href="{{ site.baseurl }}/" class="nav-link">Home</a>
			{% endif %}

			{% for navpage in site.pages %}
			{% if navpage.title and navpage.hide != true and navpage.title != page.title %}
				<a href="{{ navpage.url | prepend: site.baseurl }}" class="nav-link">
					{{ navpage.title }}</a>

				{% elsif navpage.title and navpage.hide != true and navpage.title == page.title %}

				<a href="{{ navpage.url | prepend: site.baseurl }}" class="highlight-nav-link">
					{{ navpage.title }}</a>

			{% endif %}
			{% endfor %}
		</span>
	</nav>

</header>

</div>
