<style type="text/css">
	
ul.centra_meeting_menu {
	float:left;
	list-style-type: none;
	margin: 24px 25px 10px 0;
	padding: 0px;
	background-color: #7a9806;
	border-radius: 5px;
	/*background-color: #ff8d90;*/
}

li.centra_meeting_menu_top > a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li.centra_meeting_menu_top_selected > a {
	display: block;
	color: #ff6600;
	padding: 8px 16px;
	font-weight: bold;
	text-decoration: none;
}

/* Change the link color on hover */
li.centra_meeting_menu_top > a:hover {
	background-color: #555;
	color: white;
}

ul.centra_meeting_menu_sub {
	list-style-type: none;
}

li.centra_meeting_menu_sub > a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li.centra_meeting_menu_sub_selected > a {
	display: block;
	color: #fff;
	padding: 8px 16px;
	font-weight: bold;
	text-decoration: none;
}

/* Change the link color on hover */
li.centra_meeting_menu_sub > a:hover {
	background-color: #555;
	color: white;
}

</style>

{% assign topmenuitem = 'centra_meeting_menu_top' %}
{% assign submenuitem = 'centra_meeting_menu_sub' %}

<ul class="centra_meeting_menu">
	<li {% if page.url contains 'centra2' %} class="{{ topmenuitem | append:'_selected'}}" {% else %} class=" {{ topmenuitem }}" {% endif %}><a href="/centra2/">Centra 2017</a></li>
	<li {% if page.url contains 'hackathon' %} class="{{ topmenuitem | append:'_selected'}}" {% else %} class=" {{ topmenuitem }}" {% endif %}><a href="/hackathon2017/">Student Hackathon</a></li>
	<li {% if page.url contains 'suntowns' %} class="{{ topmenuitem | append:'_selected'}}" {% else %} class=" {{ topmenuitem }}" {% endif %}><a href="/suntowns2017/">SUNTOWN Workshop</a>
		<ul class="centra_meeting_menu_sub">
			<li {% if page.url contains '' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/">Welcome</a></li>
			<li {% if page.url contains 'news.html' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/news.html">News & Updates</a></li>
			<li {% if page.url contains 'program.html' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/program.html">Program</a></li>
			<li {% if page.url contains 'registration.html' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/registration.html">Registration</a></li>
			<li {% if page.url contains 'venue.html' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/venue.html">Venue and Lodging</a></li>
			<li {% if page.url contains 'travel.html' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/travel.html">Travel</a></li>
			<li {% if page.url contains 'visainfo.html' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/visainfo.html">Visa Information</a></li>
			<li {% if page.url contains 'organizers.html' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/organizers.html">Organizers</a></li>
			<li {% if page.url contains 'sponsorship.html' %} class="{{ submenuitem | append:'_selected'}}" {% else %} class=" {{ submenuitem }}" {% endif %}><a href="/suntowns2017/sponsorship.html">Sponsorship</a></li>
		</ul>
	</li>
</ul>